*{
	margin:0;
	padding:0;
	box-sizing: border-box;
}

body{
	background:#f1f5f8;
	color: #222;
}

.booklist{
	width: 90vw;
	max-width:1170px;
	display:grid;
	gap:2rem;
}

@media screen and (min-width: 768px) {
	.booklist{
		grid-template: repeat(3, 1fr);
	}
}

.imagebook{
	max-width:70%;
	max-height:70%;
}

.book{
	background: #fff;
	border-radius:1rem;
	padding:1rem 2rem;
}

.book h1{
	margin-top:0.5rem;
}